<div class="box">

<%= image_tag post.image(:medium) %>
<p class="description">
<%= post.description %>
</p>
<%= link_to 'Show', post %>

<% if current_user == post.user %>
<p>
<%= link_to 'Edit', edit_post_path(post) %>
</p>
<p>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
</div>