<div class="row">
	<div class="span6 offset3">
		<div class="well">
	
	<%= image_tag @post.image %>
<p>
  <%= @post.description %>
</p>
<p>
  <%= @post.user.name %>
</p>

<p>
		<%= "Total votes = #{@post.votes.count}" %>
</p>

<p>
	<%= "Tags = #{@post.tag_list}" %>

</p>

<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
	<%= link_to 'Back', posts_path %>
	<div>
	<%= link_to "Vote Up", votefor_post_path(@post), :method => :post %>
		</div>
		</div>
	</div>
</div>
